@page
@model IndexModel
@{
    ViewData["Title"] = "Inventory System Home Page";
}

<div class="text-center">
    <h1 class="display-4">ยินดีต้อนรับ</h1>
    <p>ร้านขนมออนไลน์</p>
    <img src="image\pngtree-chocolate-cream-cake-banner-image_520294.jpg"/>
</div>
